*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 35, 64);
}
#india{
    margin: auto;
    text-align: center;
    /* margin-left: 10%; */
    margin-top: 5%;
    font-size: xx-large;
    color:rgb(64, 171, 209);
    /* color: white; */
    opacity: 0.7;
}
#one{
    margin: auto;
    /* margin: auto; */
    text-align: center;
   margin-top: 2%;
   /* margin-left: 8.5%; */
   width: 80vw;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   z-index: 10;
   /* position: fixed;
   right: 0;
   bottom:0; */
   position: relative;
}
#one #fname{
    /* width: 50px; */
    height: 30px;
    border-radius: 10px;
    background-color: rgb(231, 189, 74);
    /* color: white; */
    font-size: large;
border:2px solid rgb(231, 189, 74);
}
#one #lname{
    /* width: 50px; */
    height: 30px;
    border-radius: 10px;
    background-color: rgb(231, 189, 74);
    /* color: white; */
    font-size: large;
border:2px solid rgb(231, 189, 74);


}
#one #country{
    width: 220px;
    height: 33px;
    border-radius: 10px;
    background-color: rgb(231, 189, 74);
    /* color: white; */
    font-size: large;
border:2px solid rgb(231, 189, 74);
/* padding: 2px; */

}
#one #playerscore{
    /* width: 50px; */
    height: 30px;
    border-radius: 10px;
    background-color: rgb(231, 189, 74);
    /* color: white; */
    font-size: large;
    border:2px solid rgb(231, 189, 74);

}
#one #add{
    width: 80px;;

    border-radius: 10px;
    background-color: rgb(64, 171, 209);
    color: white;
    font-size: larger;
    background: linear-gradient(rgb(64, 171, 209),rgb(231, 189, 74));
}
#two{
    margin-top: 1%;
    z-index: 15;
   /* position: absolute; */

    
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}
video{
    height: 120vh;
    width: 100vw;
   /* z-index: -12; */

}
 #myVideo{
    position: absolute;
    /* position: ; */
    /* background-position: left; */
    right: 0;
    bottom: 0;
    width: 100%; 
     height: 100%;
   z-index: -10;
 }